doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title git   
    body 
        section.client-fifth
            h1 Meet our Principal   
            div.client-fifth__Grid
                div.fifth__Grid-first
                    h2 Learning is an active process
                    p Sample text. Click to select the text box. Click again or <br> double click to start editing the text. Excepteur sint <br> occaecat cupidatat non proident, sunt in culpa qui officia<br> deserunt mollit anim id est laborum. 
                div.fifth__Grid-second
                    h2 Help students set challenging goals
                    p Sample text. Click to select the text box. Click again or <br> double click to start editing the text. Excepteur sint <br> occaecat cupidatat non proident, sunt in culpa qui officia<br> deserunt mollit anim id est laborum. 
                div.fifth__Grid-third
                    h2 Give students positive reinforcement
                    p Sample text. Click to select the text box. Click again or <br> double click to start editing the text. Excepteur sint <br> occaecat cupidatat non proident, sunt in culpa qui officia<br> deserunt mollit anim id est laborum. 
                div.fifth__Grid-fourth
                    h2 Work individually with students
                    p Sample text. Click to select the text box. Click again or <br> double click to start editing the text. Excepteur sint <br> occaecat cupidatat non proident, sunt in culpa qui officia<br> deserunt mollit anim id est laborum. 
